.card {
    //@include card;

    color: white;
    background-color: $color-third;
    
    margin: auto;

    border-style: double;
    border-radius: 1em;

    width: 60%;

    & h2 {
        font-size: 3rem;
        //background-color: pink;
    }
    & .star {
        height: 2em;
        width: auto;
        position: relative;
        //display: inline;
        top: -5%;
        left: 40%;

        /* display: inline;
        height: 2%;
        right: 2%; */
    }
    & .detalles {
        //background-color: green;
        display: flex;
        //height: 30vh;
        & .img_card {
            //background-color: yellow;
            height: 60%;
            width: auto;
            
        }
        & .barras {
            //background-color: red;
            height: 100%;
            width: 100%;
        }
        & .description {
            //background-color: brown;
            display: inline-block;
            height: 100%;
        }
        & .botones {
            //background-color: aqua;
            display: flex;
            justify-content: space-between;
        }

    }
}