footer {
    color: white;
    background-color: $color-secondary;

    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.5em;
    & .link {
        color: $color-link;
    }
    & .logo {
        height: 2em;
        width: auto;
        margin: 5px;
    
        @media (max-width: 700px) {
            height: 1.5em;
            width: auto;
            margin: 3px;
        }
        @media (max-width: 400px) {
            height: 1em;
            width: auto;
            margin: 1.5px;
        }
    }
    & .logos {
        background-color: $color-secondary;
        display: flex;
        justify-content: space-around;
    }
}

