.user {
    //background-color: green;
    background-color: $color-third;

    border-style: double;
    border-radius: 1em;

    width: 25%;
    padding: 1em;
    margin: 2em;

    
    overflow: hidden;

    flex: 1 20%;
    text-align: center;
    flex-direction: column;
    border-style:double;
    border-radius: 0.5em;
    max-width: 20%;
    margin: 1em;
    //background-color: #99d98c;
    box-shadow: 5px 5px 10px;
    word-wrap: break-word;
    overflow: hidden;
    //background-color: wheat;
}